body {
    background-color: #00040F;
    color: rgba(255,255,255,0.85);
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4{
    font-weight: 600;
}

p{
    font-weight: 200;
}

.textoespecial{
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.destaque{
    font-weight: 700;
}

.barra{
    border-right: 2px solid white;
}

@media(max-width: 576px){
    .barra{
        border-right: 0px solid black;
    }
}

.fundo{
    border-radius: 10px;
    background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
}

.btn-primary{
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    color: #00040F;
}

.bio{
    display: flex;
    align-items: center;
}

.depoimento:hover{
    border-radius: 10px;
    background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
}